/* Walkthrough Sprinkles */
.sprinkle {
    position: absolute;
    animation: scale-pulse 2s ease-in-out infinite;
    transition: all 0.7s ease-in-out;
}

/* Step 1 Sprinkles - Centered relative to image */
.sprinkle-0-0 {
    top: 50px;
    left: 90px;
    width: 24px;
    height: 24px;
    animation-delay: 0.2s;
}

.sprinkle-0-1 {
    top: 0px;
    right: 100px;
    width: 12px;
    height: 12px;
    animation-delay: 1.5s;
}

.sprinkle-0-2 {
    bottom: 120px;
    left: 50px;
    width: 16px;
    height: 16px;
    animation-delay: 0.8s;
}

.sprinkle-0-3 {
    bottom: 70px;
    right: 60px;
    width: 24px;
    height: 24px;
    animation-delay: 1.2s;
}

.sprinkle-0-4 {
    top: 60px;
    right: 60px;
    width: 16px;
    height: 16px;
    animation-delay: 0.5s;
}

.sprinkle-0-5 {
    bottom: 80px;
    left: 80px;
    width: 12px;
    height: 12px;
    animation-delay: 1.8s;
}

/* Step 2 Sprinkles */
.sprinkle-1-0 {
    top: -10px;
    right: 70px;
    width: 12px;
    height: 12px;
    animation-delay: 0.3s;
}

.sprinkle-1-1 {
    top: -10px;
    left: 80px;
    width: 12px;
    height: 12px;
    animation-delay: 1.6s;
}

.sprinkle-1-2 {
    top: 20px;
    right: 160px;
    width: 24px;
    height: 24px;
    animation-delay: 0.9s;
}

.sprinkle-1-3 {
    top: -10px;
    left: 180px;
    width: 8px;
    height: 8px;
    animation-delay: 1.4s;
}

/* Step 3 Sprinkles */
.sprinkle-2-0 {
    top: 60px;
    left: 30px;
    width: 16px;
    height: 16px;
    animation-delay: 0.4s;
}

.sprinkle-2-1 {
    top: -25px;
    left: 100px;
    width: 12px;
    height: 12px;
    animation-delay: 1.7s;
}

.sprinkle-2-2 {
    top: -10px;
    right: 130px;
    width: 20px;
    height: 20px;
    animation-delay: 0.6s;
}

.sprinkle-2-3 {
    top: 45px;
    right: 55px;
    width: 8px;
    height: 8px;
    animation-delay: 1.3s;
}

.sprinkle-2-4 {
    bottom: 65px;
    right: 50px;
    width: 16px;
    height: 16px;
    animation-delay: 0.1s;
}

.sprinkle-2-5 {
    bottom: 75px;
    left: 40px;
    width: 24px;
    height: 24px;
    animation-delay: 1.9s;
}