@import "tailwindcss";

:root {
  --background: #FDFDFD;
  --foreground: #19191B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans);
  --font-mono: var(--font-geist-mono);

  --color-brand-red: #D45555;
  --color-brand-white: #FDFDFD;
  --color-brand-black: #19191B;
  --color-brand-gray: #9D9D9D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans), sans-serif;
}

button {
  cursor: pointer;
}

/* Walkthrough Sprinkles */
button {
  cursor: pointer;
}